/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/public/js/*.js
/public/js/*.map
/public/css/*.css
/public/css/*.map
/public/mix-manifest.json
/public/images/
.DS_STORE
/vendor
.env
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
