html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.error-feedback {
    background: #B81E1E;
    border: 1px solid #3B0B0B;
    color: #ffffff;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
}
